/* LOGIN CATEGORIES AND PRODUCTS */
.fieldset1{
    color:gold;
    font-size: large;
    border-width: 3px;
    padding: 10%;
    background-color: black;
    border-color: gold;
}
body{
    background-color: lemonchiffon;
    /* background:url(../images/back.png) no-repeat; 
    background-size: cover;
    background-position: center;
    background-size: 200vh; */
}
.button{
    font-size: 120%;
    width: 120px;
    text-align:center ;
    cursor: pointer;
}

.button:hover{
    background-color: gold;
    letter-spacing: .2rem;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:lemonchiffon;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}

