body{
    background-color: lemonchiffon;
    /* background:url(../images/back.png) no-repeat;
    background-size: cover;
    background-position: center; */
}
table, th, td {
    border: 1px solid;
    padding: 15px;
  text-align: left;

  }
  table {
    width: 100%;
    
  }
  
  th {
    height: 70px;
    
  }
  .button{
    font-size: 120%;
    width: 120px;
    text-align:center ;
    cursor: pointer;
}

.button:hover{
    background-color: gold;
    letter-spacing: .2rem;
}